* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;
}

#wrap {
  margin: 0 auto 30px;
}

#regbar {
  height: 67px;
  background: #34495e;
}

#navthing {
  margin-left: 35%;
}


h2 {
  padding: 20px;
  color: #ecf0f1;
}

fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
}

.register {
  position: relative;
  width: 500px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 500px;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"], .formholder input[type="text"], .forholder input[type="date"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus, .formholder input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #1bc6a4;
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

#lijevo {
  float: left;
  padding-right: 10px;
}

#logo > img {
  position: absolute;
  left: 30px;
  top: 5px;
  height: 180px;
  width: 250px;
}

#logo > p {
  position: absolute;
  color: #6495ED;
  top: 180px;
  left: 70px;
  font-size: 18px;
}

#bannerLeft {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 500px;
  height: 280px;
  background: #34495e;
  border-radius: 5px;
}

#bannerLeft > img {
  display: inline-block;
  margin-top: 5%;
  margin-left: 24%;
  width: 55%;
  height: 65%;
  float: left;
}

#bannerLeft > p {
  float: left;
  color: #6495ED;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
  font-size: 18px;
}


#bannerBottom {
  margin-top: 380px;
  margin-left: 550px;
  width: 700px;
  height: 200px;
  background: #34495e;
  border-radius: 5px;
}

#bannerBottom > p {
  float: left;
  color: #6495ED;
  margin-top: 4%;
  margin-left: 5px;
  text-align: center;
  font-size: 22px;
}

table {
	border-collapse: collapse;
	width:100%;
}

th, td {
    padding: 15px;
}

